.button {
	border-radius: 5px;

	color: #fff;
	font-family: $font-family-main-bold;

	cursor: pointer;

	&--red {
		background-color: $main-red;
		transition: 0.3s;

		&:hover {
			background-color: lighten($main-red, 7%);
		}
	}

	&--yellow {
		background-color: #f8cd53;
		transition: 0.3s;

		&:hover {
			background-color: lighten(#f8cd53, 7%);
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}
}

.title {
	margin: 0;
	color: $dark-gray-text;

	text-align: center;

	&__header {
		margin: 0;
		font-size: 2.25rem;
		font-family: $font-family-main-bold;
		line-height: 1;

		@media (max-width: $big-phone) {
			font-size: 2rem;
		}
	}

	&__text {
		margin: 0;
		font-size: 1.25rem;
		letter-spacing: 0.4px;
		font-family: $font-family-main-light;

		@media (max-width: $big-phone) {
			font-size: 0.8rem;
		}
	}

	&--with-bottom-line {
		position: relative;
		&:after {
			@include centerer-x();
			content: '';
			bottom: -16px;
			height: 5px;
			width: 45px;
			background-color: $dark-gray-text;
		}
	}


}