// fonts
$font-family-main: 'helvetica-neue-regular';
$font-family-main-bold: 'helvetica-neue-bold';
$font-family-main-light: 'helvetica-neue-light';
$font-family-approach: 'open-sans-regular';
$font-family-steps: 'georgia-bold';

//screen-sizes
$tablet: 768px;

//colors
$light-gray: #f0f2f4;
$approach-bg: #f3f3f3;
$approach-text: #5c5c5c;
$dark-gray-text: #424242;
$main-red: #de2b24;


