// fonts
$font-family-main: 'helvetica-neue-regular';
$font-family-main-bold: 'helvetica-neue-bold';
$font-family-main-light: 'helvetica-neue-light';
$font-family-steps: 'georgia-bold';

//screen-sizes
$tablet: 768px;

//colors
$light-gray: #f0f2f4;
$dark-gray-text: #424242;
$main-red: #de2b24;