.hero {
	min-height: 590px;
	padding-top: 163px;
	padding-bottom: 235px;
	background-image: url('../images/hero-bg.png');
	background-position: center;
	background-size: cover;
	background-color: $dark-gray-text;
	position: relative;

	@media (max-width: $big-phone) {
		min-height: 350px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__content {
		@include centerer-x();

		display: flex;
		align-items: center;
		flex-direction: column;
		color: #fff;
	}

	&__title {
		margin: 0;

		font-family: $font-family-main-bold;
		font-size: 3rem;
		text-align: center;

		@media (max-width: $big-phone) {
			font-size: 2rem;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 28px;

		font-family: $font-family-main-light;
		font-size: 1.875rem;
		text-align: center;
		letter-spacing: 0.5px;

		@media (max-width: $big-phone) {
			font-size: 1rem;
		}
	}

	&__button {
		padding: 20px 40px;
		font-size: 1.5rem;

		@media (max-width: $big-phone) {
			padding: 10px 20px;
			font-size: 1.2rem;
			text-align: center;
		}
	}
}