section.approach
	.container
		.title.title--with-bottom-line
			h1.title.title__header Our Approach
			p.title__text Check Our approaches step by step ( how we do it )

		ul.approach__list

			li.approach__item
				.approach__image
					img.approach__picture(src='images/step-camera.jpg' alt='picture')
					.approach__step
						p.number 1
						p step
				.approach__text
					.approach__title Step 1: Heading Here
					p.approach__description.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled.

			li.approach__item
				.approach__image
					img.approach__picture(src='images/step-road.jpg' alt='picture')
					.approach__step
						p.number 2
						p step
				.approach__text
					.approach__title Step 2: Heading Here
					p.approach__description.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled.


			li.approach__item
				.approach__image
					img.approach__picture(src='images/step-cafe.jpg' alt='picture')
					.approach__step
						p.number 3
						p step
				.approach__text
					.approach__title Step 3: Heading Here
					p.approach__description.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled.



			li.approach__item
				.approach__image
					img.approach__picture(src='images/step-workspace.jpg' alt='picture')
					.approach__step
						p.number 4
						p step
				.approach__text
					.approach__title Step 4: Heading Here
					p.approach__description.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled.