section.contact
	.container
		.title
			h1.title__header Get Your Free Facebook Analysis Now
			p.title__text Enter your details below

		.btn-down
			a.arrow-down
				i.fa.fa-angle-down

		.contact__form-container
			form.contact__form
				p.contact__text.
					Sit down with our experts to receive
					a free customized marketing plan for your business
					+ Learn How To Use Google and Facebook to get 5000% ROI or more
				input.contact__field(placeholder='Enter Your Name' type='text')
				input.contact__field(placeholder='Enter Your Email' type='email')
				input.contact__field(placeholder='Enter Your Phone' type='text')
				button.button.button--red.contact__submit Submit Now