section.socials
	.container
		.title
			.title__header Get in touch

		ul.socials__list
			li.socials__item
				a.socials__link(href='https://fb.com' target='_blank')
					.fa.fa-facebook

			li.socials__item
				a.socials__link(href='https://twitter.com' target='_blank')
					.fa.fa-twitter

			li.socials__item
				a.socials__link(href='https://google.plus.com' target='_blank')
					.fa.fa-google-plus

			li.socials__item
				a.socials__link(href='https://linkedin.com' target='_blank')
					.fa.fa-linkedin

		form.socials__newsteller
			p.socials__text Subscribe to our newsletter to stay update with what is new
			input.socials__email(placeholder='Your email')
			button.button.socials__submit Subscribe