section.work
	.container
		.title.title--with-bottom-line
			h1.title__header Our work
			p.title__text We added our featured works below

		ul.work__list
			li.work__item.work__item--name
				.work__name Project Name
				.work__description Facebook Marketing

			li.work__item
				img.work__picture(src="images/work-camera.jpg" alt="picture")

			li.work__item.work__item--name
				.work__name Project Name
				.work__description Landing Page

			li.work__item
				img.work__picture(src="images/work-grass.jpg" alt="picture")

			li.work__item
				img.work__picture(src="images/work-pond.jpg" alt="picture")

			li.work__item.work__item--name
				.work__name Project Name
				.work__description Landing Page

			li.work__item
				img.work__picture(src="images/work-path.jpg" alt="picture")


			li.work__item.work__item--name
				.work__name Project Name
				.work__description Facebook Marketing




